@import "tailwindcss";

/* Forces single-line auto justification */
.justify-stretch {
  text-align: justify;
  text-align-last: justify;
  text-justify: inter-word;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}




/* Main slide fade-in animation */
@keyframes slide-fade-in {
  from {
    opacity: 0;
    transform: scale(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.slide-fade-in {
  animation: slide-fade-in 0.3s ease-out;
}